html{
  width: 100%;
  background: rgb(242, 242, 246);
}

@media (max-width: 1920px) {
  .rect {
    margin-bottom: 20px;
    width:940px;
    height: 100%;
    left: 25.51%;
    position: relative;
    top: 50px;
  }
  }
  @media (max-width: 940px) {
    .rect {
      margin-bottom: 20px;
      width: 100%;
      height: 100%;
      left: 25.51%;
      position: relative;
      top: 50px;
    }
    }
    @media (max-width: 1491px) {
      .rect {
          margin-bottom: 20px;
          width: 940px;
          height: 100%;
          left: 130px;
          position: relative;
          top: 50px;
      }
  }
  @media (max-width: 1150px) {
    .rect {
        margin-bottom: 20px;
        width: 940px;
        height: 100%;
        left: 70px;
        position: relative;
        top: 50px;
    }
}
@media (max-width: 1053px) {
  .rect {
      margin-bottom: 20px;
      width: 940px;
      height: 100%;
      left: 0px;
      position: relative;
      top: 50px;
  }
}
@media (max-width: 940px) {
  .rect {
      margin-bottom: 20px;
      width: 100%;
      height: 100%;
      left: 0px;
      position: relative;
      top: 50px;
  }
}

.main- {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40.05%;
  top: 4.7%;
}
.main- img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 390.05%;
  top: 245px;
}

.main-image img{
  width: 340px;
  height: 340px;
  position: absolute;
  left: 19px;
}

.info-block {
  position: absolute;
  width: 525px;
  height: 340px;
  left: 41.67%;
  right: -56.67%;
  top: 1%;
  bottom: -33.24%;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}
  
.info-block h2 {
  position: absolute;
  font-size: 24px;
  left: 3.5%;
}


.info-block p {
  left: 10px;
  position: absolute;
font-size: 1.17em;
top: 13.93%;
}

.info-block h1 {
  top: 100px;
  left: 10px;
  font-size: 1.17em;
  position: absolute;
  width: 249.44px;
  height: 17px;
  background: linear-gradient(90.00deg, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 70%);
}

.info-block h3 {
  position: absolute;
  height: 12.74px;
  left: 10px;
  top: 150px;
  font-size: 1.17em;
}

.info-block h4 {
  position: absolute;
  height: 22.15px;
  left: 10px;
  bottom: 19.53%;
  font-size: 1.17em;
}

.info-block button:hover {
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
}
  .info-block button{
    z-index: 1;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    left: 360px;
    bottom: 50px;
    background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);  
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content2 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 100px;
    text-align: center;
    position: relative;
  }
  .modal-content2 h2 {
    color: #333;
    left: 19px;
    position: relative;
    width: 350px;
    top: -15px;
  }
  .modal-content2 .close-button {
    position: absolute;
    top: -20px;
    right: 10px;
    background: #ffffff00;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}
  .modal-content2 .modal-buttons {
    top: -17px;
    position: relative;
  }
  .modal-content2 .modal-buttons button {
    margin: 10px;
    top: 10px;
    padding: 10px 20px;
    border: none;
    background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    left: 80px;
}
  
  .modal-content2 .modal-buttons button:hover {
    background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  }

@media (max-width: 900px) and (min-width: 768px) {
  .rect {
    margin-bottom: 20px;
    width: 100%;
    height: 2081.4px;
    left: 0%;
    top: 8.76%;
    bottom: 7.64%;
}
.nr-lang{
left: 300px;
position: relative;
left: 1px;
}
.main-image img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 180px;
  top: 70px;
}
  
.info-block {
  position: absolute;
  width: 727.8px;
  height: 262.76px;
  left: 20px;
  top: 490px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}
.info-block button {
  z-index: 1;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  left: 560px;
  bottom: 50px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
}
.info-block h1 {
  top: 80px;
  left: 10px;
  font-size: 1.17em;
  position: absolute;
  width: 249.44px;
  height: 17px;
  background: linear-gradient(90.00deg, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 70%);
}
.info-block h3 {
  position: absolute;
  height: 12.74px;
  left: 10px;
  top: 110px;
  font-size: 1.17em;
}
.main- img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1090.05%;
  top: 175px;
}
}
@media (max-width: 769px){
  .nr-lang{
    left: 40%;
    position: relative;
    }
    .main-image img {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 20%;
      top: 70px;
    }
      
    .info-block {
      position: absolute;
      /*width: 727.8px;*/
      width: 93%;
      height: 262.76px;
      left: 20px;
      top: 490px;
      border-radius: 25px;
      background: rgb(255, 255, 255);
    }
  .info-block button {
    z-index: 1;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    left: 75%;
    bottom: 50px;
    background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  }
  .info-block h1 {
    top: 80px;
    left: 10px;
    font-size: 1.17em;
    position: absolute;
    width: 249.44px;
    height: 17px;
    background: linear-gradient(90.00deg, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 70%);
  }
  .info-block h3 {
    position: absolute;
    height: 12.74px;
    left: 10px;
    top: 110px;
    font-size: 1.17em;
  }
  .main- img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 750%;
    top: 175px;
  }
  }
  @media (max-width: 620px){
    .nr-lang{
      left: 37%;
      position: relative;
      }
      .main-image img {
        width: 400px;
        height: 400px;
        position: absolute;
        left: 15%;
        top: 70px;
    }
    .info-block button {
      z-index: 1;
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      position: absolute;
      left: 70%;
      bottom: 50px;
      background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  }
  .main- img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 500%;
    top: 175px;
}
    }
    @media (max-width: 520px){
      .nr-lang {
        left: 38%;
        position: relative;
    }
    .nr-lang img{
      width: 20px;
      height: 20px;
  }
  .main-image img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 10%;
    top: 70px;
}
    }

    @media (max-width: 451px) {
      .main-image img {
          width: 400px;
          height: 400px;
          position: absolute;
          left: 5%;
          top: 70px;
      }
      .main- img {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 10%;
        top: 197px;
    }
    .info-block button {
      z-index: 1;
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      position: absolute;
      left: 50%;
      bottom: 26px;
      background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  }
  .main-image img {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 10%;
    top: 90px;
}
  }
  @media (max-width: 365px) {
    .main-image img {
      width: 310px;
      height: 310px;
      position: absolute;
      left: 1%;
      top: 90px;
  }
  }