/* Общий стиль заголовка */
.nr-header {
  position: absolute;
width: 1920px;
height: 52px;
left: 0%;
right: 0.05%;
top: 0%;
bottom: 0.81%;
background: linear-gradient(178.43deg, rgb(2, 69, 49) 0%,rgb(33, 142, 126) 100%);
}
.div #root{
  width: 1920px;
}
.account-modal {
  position: relative;
  width: 600px;
  height: 350px;
  border: 1px solid rgb(225, 234, 245);
  border-radius: 11.5px;
  background: white;
  left: 750px;
  top: 100px;
  z-index: 2;
}
.account-modal h3{
  left: 140px;
  position: relative;
  font-size: 36px;
  width: 400px;
  z-index: 3;
  top: 40px;
}
 .account-modal1 {
  left: 70px;
  position: relative;
  font-size: 28px;
  top: 70px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  z-index: 3;
  color:#fff;
}
.account-modal2 {
  left: 170px;
  position: relative;
  font-size: 28px;
  top: 70px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  color:#fff;
}

.nr-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 1920px;
}

/* Секция с заголовком */
/* .nr-title-block {
  display: flex;
  flex-direction: column;
} */

.nr-block .nr-title {
  position: absolute;
  height: 30.76px;
  right: 47.69%;
  top: 0.42%;
  bottom: 99.08%;
  color: rgb(255, 255, 255);
}

.nr-block .nr-subtitle {
  position: absolute;
  width: 300.13px;
  height: 30.76px;
  right: 43.09%;
  top: 45.42%;
  bottom: 99.08%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
/*
/* Блок с кнопками 
.nr-lang {
  left: 150.67%;
  right: 47.69%;
  top: -25.42%;
  bottom: 99.08%;
  display: flex;
  align-items: center;
  gap: 10px; /* Расстояние между кнопками 
}
*/
.nr-lang .MuiIconButton-root{
  right: 47.69%;
  top: -25.42%;
  bottom: 99.08%;
}

.nr-lang .MuiIconButton-root:hover {
  transform: scale(1.1); /* Увеличение наводимой иконки */
  opacity: 0.8; /* Прозрачность при наведении  */
} 

/* Кнопка с фоновым изображением */
.btn-open-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-open-menu img {
  position: absolute;
width: 28px;
height: 28px;
left: 35.71%;
right: 35.71%;
top: 43.21%;
bottom: -43.21%;
background: rgb(255, 255, 255);
  border-radius: 50%; /* Круглая кнопка */
  border: 2px solid #fff; /* Обводка */
}

.btn-open-menu:hover {
  transform: scale(1.1); /* Лёгкое увеличение при наведении */
}

/* Адаптивность */
@media (max-width: 768px) {
  .nr-header{
    width: 768px;
  }
  .div #root{
    width: 768px;
  }
  .html{
    width: 768px;
  }

  .nr-block {
    flex-direction: column;
    gap: 15px;
    height: 52px;
    width: 768px;
  }

  .nr-title {
    font-size: 1.5rem;
  }

  .nr-subtitle {
    font-size: 1.5rem;
    top: 25px;
  }

  .btn-open-menu img {
    width: 35px;
    height: 35px;
  }
}
