/* Общий стиль заголовка */
.burger-menu {
  display: none; /* Скрываем бургер-меню на больших экранах */
}
.burger-icon {
  font-size: 24px;
  cursor: pointer;
}
/* Мобильное меню */
.nr-lang-menu {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 60px;
  right: 10px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.close-icon {
  transform: rotate(180deg);
}


.nr-header {
  position: absolute;
width: 100%;
height: 52px;
left: 0%;
right: 0.05%;
top: 0%;
bottom: 0.81%;
background: linear-gradient(178.43deg, rgb(2, 69, 49) 0%,rgb(33, 142, 126) 100%);
}
.div #root{
  width: 1920px;
}
.account-modal {
  position: relative;
  width: 600px;
  height: 350px;
  border: 1px solid rgb(225, 234, 245);
  border-radius: 11.5px;
  background: white;
  left: 750px;
  top: 100px;
  z-index: 2;
}
.account-modal h3{
  left: 140px;
  position: relative;
  font-size: 36px;
  width: 400px;
  z-index: 3;
  top: 40px;
}
 .account-modal1 {
  left: 70px;
  position: relative;
  font-size: 28px;
  top: 70px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  z-index: 3;
  color:#fff;
}
.account-modal2 {
  left: 170px;
  position: relative;
  font-size: 28px;
  top: 70px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  color:#fff;
}

.nr-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 100%;
}

.nr-block .nr-title {
  position: absolute;
  height: 30.76px;
  right: 47.69%;
  top: 0.42%;
  bottom: 99.08%;
  color: rgb(255, 255, 255);
}

.nr-block .nr-subtitle {
  position: absolute;
  width: 300.13px;
  height: 30.76px;
  right: 43.09%;
  top: 45.42%;
  bottom: 99.08%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.nr-lang .MuiIconButton-root{
  right: 47.69%;
  top: -25.42%;
  bottom: 99.08%;
}

.nr-lang .MuiIconButton-root:hover {
  transform: scale(1.1); /* Увеличение наводимой иконки */
  opacity: 0.8; /* Прозрачность при наведении  */
} 

/* Кнопка с фоновым изображением */
.btn-open-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-open-menu img {
  position: absolute;
width: 28px;
height: 28px;
left: 35.71%;
right: 35.71%;
top: 43.21%;
bottom: -43.21%;
background: rgb(255, 255, 255);
  border-radius: 50%; /* Круглая кнопка */
  border: 2px solid #fff; /* Обводка */
}

.btn-open-menu:hover {
  transform: scale(1.1); /* Лёгкое увеличение при наведении */
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}


/* Адаптивность */
@media (max-width: 768px) {
  .nr-block .nr-subtitle {
    position: absolute;
    height: 30.76px;
    right: 35.09%;
    top: 45.42%;
    bottom: 99.08%;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
  .nr-header{
    width: 100%;
  }
  .div #root{
    width: 768px;
  }
  .html{
    width: 768px;
  }

  .nr-block {
    flex-direction: column;
    gap: 15px;
    height: 52px;
    width: 100%;
  }

  .nr-title {
    font-size: 1.5rem;
  }

  .nr-subtitle {
    font-size: 1.5rem;
    top: 25px;
  }

  .btn-open-menu img {
    width: 35px;
    height: 35px;
  }
  .account-modal {
    position: relative;
    width: 600px;
    height: 350px;
    border: 1px solid rgb(225, 234, 245);
    border-radius: 11.5px;
    background: white;
    left: 75px;
    top: 100px;
    z-index: 2;
}
.nr-lang {
  display: none; /* Скрываем иконки */
}
.nr-lang-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background: linear-gradient(166.07deg, rgb(3, 71, 51) 0%, rgb(32, 140, 124) 100%);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: row; /* Изменяем направление на горизонтальное */
  /*gap: 15px; /* Отступы между иконками */
  align-items: center; /* Выравнивание по центру */
  justify-content: center;
}

.nr-lang-menu .MuiIconButton-root{
  top: -100px;
  height: 56px;
  left: 20px;
}
.burger-menu {
  display: block; /* Показываем бургер-меню */
}
.burger-menu button{
  left: 800%;
  top: -15px;
}
.menu-button {
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  left: -90px;
  position: relative;
  width: 200px;
  height: 200px;
  top: 30px;
}
.menu-button1 {
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  left: -70px;
  position: relative;
  top: 20px;
}
.menu-button2 {
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  left: -70px;
  position: relative;
  top: 50px;
}
.menu-button3 {
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  left: -70px;
  position: relative;
  top: 80px;
}


.menu-button:hover {
  background-color: #ddd;
}
}
@media (max-width: 657px) {
  .burger-menu button {
    left: 700%;
    top: -15px;
}
}
@media (max-width: 561px) {
  .burger-menu button {
      left: 600%;
      top: -15px;
  }
}

@media (max-width: 501px) {
  .burger-menu button {
    left: 500%;
    top: -15px;
}
.nr-block .nr-title {
  position: absolute;
  height: 30.76px;
  right: 40.69%;
  top: 0.42%;
  bottom: 99.08%;
  color: rgb(255, 255, 255);
}
.nr-block .nr-subtitle {
  position: absolute;
  width: 300.13px;
  height: 30.76px;
  right: 23.09%;
  top: 45.42%;
  bottom: 99.08%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
  .nr-block .nr-subtitle {
    position: absolute;
    width: 270.13px;
    height: 30.76px;
    right: 27.09%;
    top: 45.42%;
    bottom: 99.08%;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}
.nr-block .nr-title {
  position: absolute;
  height: 30.76px;
  right: 47.69%;
  top: 0.42%;
  bottom: 99.08%;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
}
@media (max-width: 420px) {
  .burger-menu button {
    left: 400%;
    top: -15px;
}
.nr-block .nr-title {
  position: absolute;
  height: 30.76px;
  right: 40.69%;
  top: 0.42%;
  bottom: 99.08%;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
.nr-block .nr-subtitle {
  position: absolute;
  width: 300.13px;
  height: 30.76px;
  right: 15.09%;
  top: 45.42%;
  bottom: 99.08%;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}
}
@media (max-width: 370px) {
  .nr-block .nr-subtitle {
    position: absolute;
    width: 270.13px;
    height: 30.76px;
    right: 8.09%;
    top: 45.42%;
    bottom: 99.08%;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}
}
@media (max-width: 336px) {
  .burger-menu button {
    left: 370%;
    top: -15px;
}
}