.clientContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  color: rgba(128, 96, 68, 1);
}

.block {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px); /* Ширина блока 25% минус отступы */
  box-sizing: border-box;
}
.block button {
  display: flex;
  background-color: transparent;
  border-color: transparent;
}
.block button img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.block a {
  text-decoration: none;
  color: rgba(128, 96, 68, 1);
}
.block a:hover,
.modalTextClient:hover {
  text-decoration: underline;
}
.block a img {
  width: 30px;
  height: 30px;
}
.backToHome {
  width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  background-color: transparent;
  border-color: transparent;
  color: rgba(128, 96, 68, 1);
  text-decoration: none;
}
.backToHome:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .block {
    flex: 1 1 calc(50% - 20px); /* Ширина блока 50% минус отступы */
  }
}

@media (max-width: 600px) {
  .block {
    flex: 1 1 100%; /* Каждый блок занимает 100% ширины */
  }
}
