header {
  width: 100%;
  background-color: rgba(128, 96, 68, 1);
  color: white;
}
.annotation p {
  font-size: 12.797px;
  font-style: normal;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-weight: 600;
  line-height: 26.18px;
}
.logo {
  margin-left: 40px;
  margin-bottom: 5px;
}
.logo-user {
  margin-left: 5px;
}
.search {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20%;
}
.search-user {
  width: 50%;
  margin-left: 25%;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  gap: 39.6px;
}
.authorization {
  margin-right: 40px;
}
.highlight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 160px;
  height: 100%;
  margin-right: 30px !important;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
}
.icons {
  display: none;
}
@media (max-width: 1050px) {
  .search-user {
    margin-left: 15%;
  }
}
@media (max-width: 700px) {
  .logo {
    margin-left: 15px;
  }
  .authorization {
    display: none;
  }
  .icons {
    display: flex;
    justify-content: space-around;
  }
  .list {
    margin-left: 0px;
    width: 100%;
  }
  .search-user {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .logo {
    margin-left: 5px;
    width: 130px;
  }
  .search-user {
    width: 40%;
  }
  .search-user {
    width: 0%;
    margin-left: 0%;
  }
}

@media (max-width: 360px) {
  .logo-user {
    width: 130px;
  }
  .logo {
    margin-left: 5px;
  }
}
